.social
    .social__icon-yb
        a(href="yb")
            img(src="/wp-content/themes/twentytwenty-child/img/icons/yb.svg", alt="")
    .social__icon-vk
        a(href="vk")
            img(src="/wp-content/themes/twentytwenty-child/img/icons/vk.svg", alt="")
    .social__icon-insta
        a(href="insta")
            img(src="/wp-content/themes/twentytwenty-child/img/icons/insta.svg", alt="")
    .social__icon-fb
        a(href="fb")
            img(src="/wp-content/themes/twentytwenty-child/img/icons/fb.svg", alt="")