.header__container-top {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Alegreya Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    font-size: 1.2rem;
    line-height: 2.4rem;
}
