.group {
    &__block {
        width: 100%;
        height: auto;
        margin-top: 9.1rem;
        margin-bottom: 3rem;
        font-family: "Alegreya Sans", sans-serif;
        font-style: normal;
        text-align: center;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.5rem;
        overflow: hidden;
    }
    &__box {
        margin: 0 auto;
        width: 30rem;
        height: 20.1rem;
        text-align: center;
        position: relative;
    }
    &__block-img {
        width: 17.7rem;
        height: 19.1rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        left: 7rem;
    }
    &__block-text {
        width: 28.9rem;
        height: auto;
        margin: 0 auto;
        padding-top: 6rem;
    }
}
@media (min-width: 411px) {
    .group {
        &__block {
            font-size: 1.8rem;
            line-height: 1.9rem;
        }
        &__box {
            width: 35rem;
            height: 25.1rem;
        }
        &__block-img {
            width: 22.7rem;
            height: 24.1rem;
            left: 7rem;
        }
        &__block-text {
            width: 32.9rem;
            padding-top: 7rem;
        }
    }
}
@media (min-width: 768px) {
    .group {
        &__block {
            font-size: 1.8rem;
            line-height: 1.9rem;
        }
        &__box {
            width: 40rem;
            height: 30.1rem;
        }
        &__block-img {
            width: 27.7rem;
            height: 29.1rem;
            left: 7rem;
            top: 1rem;
        }
        &__block-text {
            width: 37.9rem;
            padding-top: 9rem;
        }
    }
}
@media (min-width: 1024px) {
    .group {
        &__block {
            font-size: 2.9rem;
            line-height: 3.3rem;
        }
        &__box {
            width: 62rem;
            height: 60.1rem;
        }
        &__block-img {
            width: 53.8rem;
            height: 58rem;
            left: 4rem;
            top: 1rem;
        }
        &__block-text {
            width: 57rem;
            padding-top: 18rem;
        }
    }
}
