.group__block
    .group__box
        .group__block-img(style='background-image: url("/wp-content/themes/twentytwenty-child/img/leo.png");')
        p.group__block-text Мы рады помогать каждому малышу развивать личность, навыки общения с другими. На занятиях мы учимся выступать, изучаем английский, занимаемся спортом. Наши педагоги умеют заинтересовать, научить и всегда поддержат.