/************ MENU *****************/
#menu__toggle {
    opacity: 0;
    width: 0;
    height: 0;
}
.hamburger-menu {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle {
    &:checked {
        ~ .menu__box {
            visibility: visible;
            align-items: center;
            margin: 0;
            width: 100%;
            height: 100vh;
            position: fixed;
            background-color: rgba(196, 196, 196, 0.95);
            z-index: 8;
        }
    }
}
.menu {
    &__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 2rem;
        right: 2rem;
        width: 3.9rem;
        height: 2rem;
        cursor: pointer;
        z-index: 9;
        & > span,
        & > span::before,
        & > span::after {
            display: block;
            position: absolute;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 2px;
            background-color: #000;
            transition-duration: 0.3s;
        }
        & > span::before {
            content: "";
            top: -8px;
        }
        & > span::after {
            content: "";
            top: 8px;
        }
    }

    &__box {
        visibility: hidden;
        margin: 0 auto;
        top: 0;
        display: flex;
        justify-content: space-evenly;
        width: 500px;
        margin-right: 1.3rem;
        width: 500px;
        height: 100%;
        padding: 4rem 0 0;
        transition-duration: 0.1s;
    }
    &__item {
        display: block;
        padding: 12px 24px;
        transition-duration: 0.25;
        color: #000;
        &:hover {
            background-color: rgba(230, 34, 84, 0.921875);
            border-radius: 12741.7em;
            text-align: center;
            color: #fff;
        }
    }
}
@media (min-width: 900px) {
    .hamburger-menu {
        display: block;
    }
    .menu {
        &__btn {
            display: none;
        }

        &__box {
            padding: 0;
            margin: 0 auto;
            width: 100%;
            display: block;
            visibility: inherit;
        }

        &__list {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            font-size: 14px;
            letter-spacing: 0px;
            text-align: center;
        }

        &__item {
            display: block;
        }

        &__list-bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #f9f9f9;
        }
    }
}
@media (min-width: 1024px) {
    .menu {
        &__list {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            padding: 0 7.5rem;
        }
        &__list-bottom {
            justify-content: space-between;
        }
    }
}
