nav.hamburger-menu
    input#menu__toggle(type='checkbox')
    label.menu__btn(for='menu__toggle')
        span
    .menu__box
        ul.menu__list.menu__list-bottom
            li: a.menu__item(href="#") О нас
            li: a.menu__item(href="#") Акции
            li: a.menu__item(href="#") Новости
            li: a.menu__item(href="#") Галерея
            li: a.menu__item(href="#") Отзывы
            li: a.menu__item(href="#") Блог
        ul.menu__list
            li: a.menu__item(href="#") Програма
            li: a.menu__item(href="#") Распорядок дня
            li: a.menu__item(href="#") Стоимость
            li: a.menu__item(href="#") Документ
            li: a.menu__item(href="#") Лицензии
            li: a.menu__item(href="#") Персонал