.about__block {
    width: 100%;
}
.about__block-title {
    text-align: center;
    margin: 0 1rem;
    margin-top: 4.3rem;
    font-family: "Yanone Kaffeesatz";
    font-style: normal;
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 2.8rem;
    text-align: center;
}
@media (min-width: 411px) {
    .about__block-title {
        font-size: 4.2rem;
        line-height: 3.8rem;
    }
}
@media (min-width: 768px) {
    .about__block-title {
        margin: 0 4rem;
        margin-top: 5.3rem;
        font-size: 5.2rem;
        line-height: 5.8rem;
    }
}
@media (min-width: 1024px) {
    .about__block-title {
        margin: 0 14rem;
        margin-top: 5.7rem;
        font-size: 6.2rem;
        line-height: 7.8rem;
    }
}
@media (min-width: 1200px) {
    .about__block-title {
        margin: 0 18rem;
        margin-top: 6.1rem;
        line-height: 8.5rem;
        font-size: 7.2rem;
    }
}
