/* FONTS */

//@import './../fonts/fonts';

/* BASE STYLES */

@import "bootstrap5/bootstrap-custom";
@import "global";
@import "base";

/* MIXINS & VARIABLES */

@import "mixins";
@import "variables";

/* CSS-LIBRARIES */

/* PAGES */

/* SECTIONS */
@import "../sections/nav/nav";
@import "../sections/header/header";
@import "../sections/about/about";

/* BLOCKS */
@import "../blocks/headertop/headertop";
@import "../blocks/nav/nav";
@import "../blocks/title/title";
@import "../blocks/content/content";
