.group__block-icon
    .group__block-group
        .group__block-icons
            img(src="/wp-content/themes/twentytwenty-child/img/nursery.png", alt="")
        .group__block-title
            h3.group__block-titles Ясли 
            p.group__block-texts Малыши 1,5 – 2 года
    .group__block-group
        .group__block-icons
            img(src="/wp-content/themes/twentytwenty-child/img/middle.png", alt="")
        .group__block-title
            h3.group__block-titles Средняя группа
            p.group__block-texts Малыши 2 – 3 лет
    .group__block-group
        .group__block-icons
            img(src="/wp-content/themes/twentytwenty-child/img/senior.png", alt="")
        .group__block-title
            h3.group__block-titles Старшая группа 
            p.group__block-texts Малыши 3 – 5 лет
        