.header__block
    .header__block-img(style='background-image: url("/wp-content/themes/twentytwenty-child/img/det.png");')
    .header__box-content
        h2.header__block-title Частный детский садик
        p.header__block-text Детский садик полного и неполного пребывания на улице Станкевича
        button.header__block-button Записаться  в садик
    

