$navfz: 1.8rem;
.logo {
    margin-right: 1rem;
}
.menu {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    order: 3;
    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
    }
    li {
        margin: 0.9rem;
    }
    &__item {
        color: #0b141d;
        font-size: $navfz;
        &:focus {
            text-shadow: 0.1rem 0.1rem 0 #fdd418;
        }
    }
}
@media (min-width: 360px) {
    .menu {
        margin-top: 1rem;
    }
}

@media (min-width: 868px) {
    .menu {
        order: 0;
        margin-top: 0;
    }
}
