.logo
    a.logo-text(href="#")
        img(src="/wp-content/themes/twentytwenty-child/img/icons/logo.svg", alt="")

nav.menu 
    ul.menu__box
        li: a.menu__item(href="#") Обо мне
        li: a.menu__item(href="#") Фотоотчет
        li: a.menu__item(href="#") Расписание
        li: a.menu__item(href="#") Цена
        li: a.menu__item(href="#") Блог
        li: a.menu__item(href="#") Контакты
