doctype html
html(lang="ru")
    head
        include ../sections/head.pug
    body
        include ../sections/nav/nav.pug
        include ../sections/header/header.pug
        include ../sections/about/about.pug
        
                

        include ../sections/footer.pug

