doctype html
html(lang="ru")
    head
        include ../sections/head.pug
    body
        .container-fluid
            .container test test test
                h1 test
                h2 test
                

        include ../sections/footer.pug

