.header__container-addres
    p.header__container-address Адрес: улица Станкевича, 40 
.header__container-logo
    a(href='#')
        svg(class="logo")
            use(xlink:href="/wp-content/themes/twentytwenty-child/img/icons/sprite.svg#logo")

.header__container-contact
    p.header__container-contacts Телефон: 
        a(href="tel:+11234564466") +1 123 456 44 66
    p.header__container-contacts  E-mail: 
        a(href="mailto:detsad@gmail.com") detsad@gmail.com


