h1.block-title Документы и лицензии
.cnt
    .cnt__block-group
        .cnt__block-icons
            img(src="/wp-content/themes/twentytwenty-child/img/diplom.png", alt="")
        .cnt__block-title
            p.cnt__block-texts Пример циклического меню
    .cnt__block-group
        .cnt__block-icons
            img(src="/wp-content/themes/twentytwenty-child/img/diplom.png", alt="")
        .cnt__block-title
            p.cnt__block-texts Памятка родителям при посещении ДС
    .cnt__block-group
        .cnt__block-icons
            img(src="/wp-content/themes/twentytwenty-child/img/diplom.png", alt="")
        .cnt__block-title
            p.cnt__block-texts Договор сада. pdf