h1.block-title Как добраться и связаться с нами
.cnt
    .cnt__block-group.cnt__block
        .cnt__block-ic
            img(src="/wp-content/themes/twentytwenty-child/img/com.png", alt="")
        .cnt__block-title
            h3.cnt__block-titles Связь
            p.cnt__block-texts 
                                |   Позвоните нам: +1 123 456 78 99 
                                br
                                |   Напишите e-mail: hellon@gmail.com
    .cnt__block-group.cnt__block
        .cnt__block-ic
            img(src="/wp-content/themes/twentytwenty-child/img/adres.png", alt="")
        .cnt__block-title
            h3.cnt__block-titles Адрес
            p.cnt__block-texts Улица Станкевича, д 30
    .cnt__block-group.cnt__block
        .cnt__block-ic
            img(src="/wp-content/themes/twentytwenty-child/img/get.png", alt="")
        .cnt__block-title
            h3.cnt__block-titles Как добраться
            p.cnt__block-texts Удобный подъезд со стороны кольцевой дороги и переулка.