div.about__content
    div.about__content-img
        img(src="/wp-content/themes/twentytwenty-child/img/eng.png", alt="")
    div.about__content-text
        h2.about__content-title Основы английского языка
        p.about__content-item На занятиях малыши учатся без стеснения общаться на новом языке, строить диалоги. Уже в маленьком возрасте ребенок будет иметь представление о языке и сможет общаться на нем с другими.
div.about__content
    div.about__content-img
        img(src="/wp-content/themes/twentytwenty-child/img/creativ.png", alt="")
    div.about__content-text
        h2.about__content-title Творческое мышление
        p.about__content-item Изобразительное мышление развивает воображение и прививает хороший вкус с детства. Мы учимся рисовать, лепить, снимать кино и многое другое.

div.about__content
    div.about__content-text
        h2.about__content-title Основы английского языка
        p.about__content-item На занятиях малыши учатся без стеснения общаться на новом языке, строить диалоги. Уже в маленьком возрасте ребенок будет иметь представление о языке и сможет общаться на нем с другими.
    div.about__content-img.about__content-img-bottom
        img(src="/wp-content/themes/twentytwenty-child/img/development.png", alt="")
div.about__content
    div.about__content-text
        h2.about__content-title Творческое мышление
        p.about__content-item Изобразительное мышление развивает воображение и прививает хороший вкус с детства. Мы учимся рисовать, лепить, снимать кино и многое другое.
    div.about__content-img.about__content-img-bottom 
        img(src="/wp-content/themes/twentytwenty-child/img/physical.png", alt="")